html {
margin-left: auto;
margin-right: auto;
width: 70%;
float: center;
}
h1 {
    font-size: 32px;
   }
h1, h2, h3, h4, h5, h6 {
     font-family: Arial;
     margin-top: 1.5em;
}
table {
    border: 1px solid black;
    }

th, td {
    border: 1px solid black;
}
figure {
    float: right;
}
